/**
 *  Configuration for the DKFZ-ODCF/Bam2Fastq Nextflow workflow.
 *  Author: Philip R. Kensche
 */

nextflowVersion = '>= 20.04.1.5335'

docker.runOptions='-u $(id -u):$(id -g)'

profiles {

    test {
        process {
            cpus = 1
            memory = 1.GB
            executor = 'local'
        }
    }

    local {
        process {
            executor = 'local'
        }
    }

    conda {

        process {
            conda = './task-environment.yml'

            beforeScript = """
            export SAMTOOLS_BINARY=samtools
            export PICARD_BINARY=picard
            export JAVA_BINARY=java
            export MBUFFER_BINARY=mbuffer
            export CHECKSUM_BINARY=md5sum
            export PERL_BINARY=perl
            export BIOBAMBAM_BAM2FASTQ_BINARY=bamtofastq
            """
        }

        cacheDir = "./conda_env"
    }

    dkfzClusterLocal {

        process {
            executor = 'local'

            beforeScript = """
            module load bash/4.4.18
            module load samtools/1.5
            module load picard/2.13.2
            module load java/1.8.0_131
            module load mbuffer/20160613
            module load biobambam2/2.0.87
            
            export SAMTOOLS_BINARY=samtools
            export PICARD_BINARY=picard
            export JAVA_BINARY=java
            export MBUFFER_BINARY=mbuffer
            export CHECKSUM_BINARY=md5sum
            export PERL_BINARY=perl
            export BIOBAMBAM_BAM2FASTQ_BINARY=bamtofastq
            """
        }

    }

    dkfzCluster {

        process {
            withLabel: !retrieveReadGroups {
                executor = 'lsf'
            }

            withLabel: retrieveReadGroups {
                executor = 'local'
                cache = true
            }

            beforeScript = """
            module load bash/4.4.18
            module load samtools/1.5
            module load picard/2.13.2
            module load java/1.8.0_131
            module load mbuffer/20160613
            module load biobambam2/2.0.87
            
            export SAMTOOLS_BINARY=samtools
            export PICARD_BINARY=picard
            export JAVA_BINARY=java
            export MBUFFER_BINARY=mbuffer
            export CHECKSUM_BINARY=md5sum
            export PERL_BINARY=perl
            export BIOBAMBAM_BAM2FASTQ_BINARY=bamtofastq
            """
        }

    }

//    dkfzClusterSingularity {
//
//        process {
//            withLabel: !retrieveReadGroups {
//                executor = 'lsf'
//            }
//
//            container = 'container name'
//        }
//
//        singularity {
//            enabled = true
//        }
//
//    }

}