/**
 *  Copyright (c) 2022 DKFZ.
 *
 *  Distributed under the MIT License (license terms are at https://github.com/DKFZ-ODCF/nf-bam2fastq/blob/master/LICENSE.txt).
 *
 *  Author: Philip R. Kensche
 *
 *  Configuration for the DKFZ-ODCF/nf-bam2fastq Nextflow workflow.
 */

nextflowVersion = '>= 20.04.1.5335'

manifest {
    homePage = 'https://github.com/DKFZ-ODCF/nf-bam2fastq'
    description = 'BAM-to-FASTQ conversion and FASTQ-sorting workflow'
    mainScript = 'main.nf'
    version = '1.2.0'
    author = 'Philip Reiner Kensche'
}

// The workflow may refer to an older container version, e.g. if the container was not updated.
ext.containerVersion = '1.0.0'

profiles {

    test {
        process {
            cpus = 1
            memory = 1.GB
        }
    }

    local {
        process {
            executor = 'local'
        }
    }

    conda {
        conda.cacheDir = "${projectDir}/cache/conda"
        process {
            conda = "${projectDir}/task-environment.yml"
        }
    }

    mamba {
        useMamba = true
        conda.cacheDir = "${projectDir}/cache/conda"
        process {
            conda = "${projectDir}/task-environment.yml"
        }
    }

    docker {
        docker.enabled = true
        docker.runOptions='-u $(id -u):$(id -g)'
        process {
          container = "ghcr.io/dkfz-odcf/nf-bam2fastq:${ext.containerVersion}"
        }
    }

    singularity {
        process.container = "nf-bam2fastq_${ext.containerVersion}.sif"
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/cache/singularity"
        // The singularity containers are stored in the workflow-directory
        singularity.autoMounts = true
    }

    lsf {
        process {
            executor = 'lsf'
            clusterOptions = '-env none'
        }
    }

}

/**  Use the following to configure e.g. submission limits, job-names, etc. for the executor. See
 *
 * https://www.nextflow.io/docs/latest/config.html?highlight=jobname#scope-executor
 */
executor {
    jobName = { "nf-bam2fastq - $task.name - $task.hash" }
}

